*, *:before, *:after {
    word-break: break-all;
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    box-sizing: border-box;
}

/*ヘッダー部分*/
/*header*/
.Header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*.Header--common {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*}*/
@media screen and (max-width: 1080px){
.Header {
    background-color: #fff;
    z-index: 10;
    }
}
@media screen and (max-width: 1080px){
    .Header--common{
        position: fixed !important;
    }
}
@media screen and (max-width: 767px){
.Header {
    padding-top: 15px;
    padding-bottom: 15px;
}
}
 /*(div)*/
.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0px 36px;
    max-width: 100%;
    position: relative;
}
@media screen and (max-width: 767px){
.HeaderContainer {
    max-width: 100%;
    margin: 0 20px;
}
}

/*ヘッダー　ポテパンロゴ：トップページリンク*/
.HeaderLogo{
    align-self :center;
}

@media screen and (min-width: 768px){
.HeaderLogo{
    transition: opacity .2s;
}
}
.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}
@media screen and (max-width: 767px){
.HeaderLogo__image--pc {
    display: none;
}
}
.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}
@media screen and (max-width: 767px){
.HeaderLogo__image--sp {
    display: block;
}
}


/*----------------------------ヘッダーメニュー一覧-------------------------------*/

/*.HeaderContainer>* :last-child */ 
.HeaderNav {
    display: inline-flex;
}

.HeaderNavHamburger {
    display: none;
}
@media screen and (max-width: 1080px){ 
.HeaderNavHamburger {
    cursor: pointer;
    display:  block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index:  100;
    }
}
@media screen and (max-width: 1080px){
.HeaderNavHamburger__line{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: translate(0,-50%);
    border-radius: 10px;
    transition: top .2s, transform .2s, opacity .3s;
    }
}
@media screen and (max-width: 1080px){
.HeaderNavHamburger__line:first-child{
    top: 0;
    }
}
@media screen and (max-width: 1080px){
.HeaderNavHamburger__line:last-child{
    top: 100%;
    }
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1080px) {
.HeaderNavList{
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform .5s;
    z-index: 99;
    background-color: rgba(0,0,0,.8);
    -webkit-overflow-scrolling: touch;
    height: 100%
    }
}

.HeaderNavListItem{
    margin-right: 45px;
}
@media screen and (min-width: 768px) {
.HeaderNavListItem {
    transition: opacity .2s;
    }
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem {
    margin-right: 0;
    }
}
.HeaderNavListItem_link {
    display: block;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem_link > span:first-child{
        font-size: 16px;
        letter-spacing: 5px;
        color: #fff;
    }
}
.HeaderNavListItem_link > span:first-child {
    font-family: "Lato",sans-serif;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem_link > span:last-child{
        font-size: 12px;
        margin-top: 10px;
        color: #f79214;
        letter-spacing: 2px;
    }
}
.HeaderNavListItem_link > span:last-child {
    font-size: 10px;
}
.HeaderNavListItem_link >span {
    display: block;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 1080px) {
.HeaderNavListItem_link {
    padding: 20px 0;
    }
}
.HeaderNavListItem:last-of-type{
    margin-right: 0;
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem:last-of-type {
    margin-top: 20px;
    }
}
.HeaderNavListItem_button:visited {
    color: #fff;
}
@media screen and (min-width: 768px){
.HeaderNavListItem_button {
    transition: opacity .2s;
    }
}
@media screen and (max-width: 1080px){
.HeaderNavListItem_button {
    font-size: 16px;
    margin: 0 auto;
    height: 60px;
    width: 250px;
    }
}
.HeaderNavListItem_button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}

/*--------------------------mainページ------------------------------*/
/*背景画像  PC用*/
main {
    display: block;
}
@media screen and (max-width: 1080px){
main {
    padding-top: 60px;
}
}
@media screen and (max-width: 767px){
main {
    padding-top: 52px;
}
}

.FirstView {
    background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg.webp");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
  }
@media screen and (max-width: 767px){
.FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
}
}
@media screen and (max-width: 767px){
.FirstView__container {
    margin-top: -45vw;
}
}

.lazyload {
    background-image: none !important;
}
.FirstView__main-image--sp{
    display: none;
}
@media screen and (max-width: 767px){
.FirstView__main-image--sp {
    display: block;
}
}
.FirstView__main-image{
    width: 100%;
}
.FirstView__container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media screen and (max-width: 767px){
.FirstView__container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}

/*ビュー左側*/
.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}
@media screen and (max-width: 767px){
.FirstViewContent {
    margin-bottom: 20px;
    width: 100%;
}
}
.FirstViewContent__title {
    color: #333;
    font-family: "Lato",sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}
@media screen and (max-width: 767px){
.FirstViewContent__title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%)/2)*-1);
    margin-right: calc(((100vw - 100%)/2)*-1);
}
}
.FirstViewContent__images{
    display: flex;
    margin-bottom: 25px;
}
@media screen and (max-width: 767px){
.FirstViewContent__images {
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
}
.FirstViewContent__images img {
    margin-right: 8px;
}
@media screen and (max-width: 767px){
.FirstViewContent__images img {
    width: 27.5%;
}
}
.FirstViewContent__images img:nth-of-type(2) {
    width: 40%;
}
.FirstViewContent__images img:last-of-type {
    margin-right: 0;
}
.FirstViewContent__button:visited {
    color: #fff;
}
@media screen and (max-width: 767px){
.FirstViewContent__button {
    width: 100% !important;
}
}
.FirstViewContent__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 768px){
.FirstViewContent__button {
    transition: opacity .2s;
    }
}
.FirstViewCaption{
    color: #a2a2a4;
    font-size: 12px;
}
.kiyaku{
    color: #a2a2a4;
    text-decoration:none;
}
.kiyaku:hover {
    cursor:pointer;
}


/*--------------------------オレンジ背景のところ-----------------------------*/
.AboutWrapper{
    padding: 120px 0;
    background-color: #f79214;
    padding: 44px 0;
}
@media screen and (max-width: 767px){
.AboutWrapper {
    padding: 30px 0;
}
}
.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1024px){
.About {
    flex-direction: column;
    }
}
@media screen and (max-width: 767px){
.About {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}

.About__Video {
    width: 50%;
}
@media screen and (max-width: 1024px){
.About__Video {
    margin-bottom: 16px;
    width: 75%;
    }
}
@media screen and (max-width: 767px){
.About__Video {
    width: 100%;
}
}

.About__Title{
    align-items: center;
    display:flex;
    flex-direction:column;
    margin-bottom: 60px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 32px;
}
@media screen and (max-width: 1024px){
.About__Title {
    margin-left: 0;
    width: 75%;
}
}
@media screen and (max-width: 767px){
.About__Title {
    margin-bottom: 0;
    width: 100%;
}
}
@media screen and (max-width: 767px){
.About__Title h2 {
    font-size: 33px;
    line-height: 48px;
    text-align: center;
}
}
.About__Title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    margin-bottom: 8px;
    width: 100%;
}
.About__Title h2>span {
    font-family: "Lato", sans-serif;
    font-size: 38px;
}
.About__Title h2 span {
    font-weight: 900;
}
@media screen and (max-width: 767px){
.About__Title h2 span {
    letter-spacing: 1px;
}
}
.About__Title br {
    display: none;
}
.About__Title p {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}
.About__Title h2,.About__Title p {
    color: #fff;
    text-align: left;
}
@media screen and (max-width: 1024px){
.About__Title p {
    margin-bottom: 32px;
    }
}

@media screen and (max-width: 1024px){
.About__Reskilling-Logo {
    margin: auto;
}
}
.About__Reskilling-Logo>img{
    width: 158px;
}




/*スマホ用背景画像*/
/*@media (max-width: 768px) {*/
/*  .bg-div {*/
/*    background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg.webp");*/
/*  }*/
/*}*/
/*@media (min-width: 769px) {*/
/*  .bg-div {*/
/*    background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg");*/
/*  }*/
/*}*/

/*@media (max-width:768px){*/
/*body {*/
/*    background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg.webp");*/
    /*background-repeat:no-repeat;*/
/*}*/
/*}*/
/*PCとスマホの切り替え*/




img, div, h1, h2, p, ul, li, body, select {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    vertical-align: middle;
}
ul {
    list-style: none;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
body {
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
body {
    -webkit-font-smoothing: antialiased;
}
p {
    color: #333;
    line-height: 1.5;
}

html {
    -webkit-text-size-adjust: 100%;
}



/*メモ用フリースペース*/





/*PCではハンバーガーメニュー非表示にする*/

/*@media screen and (max-width: 767px){*/
/*.HeaderNavList{*/
/*    top: 52px;*/
/*    }*/
/*}*/


/*@media screen and (min-width: 768px) {*/
/*.menu-btn{*/
/*    display:none;*/
/*    }*/
/*}*/


/*ハンバーガーボタンの実装*/
/*.menu-btn {*/
/*    position: fixed;*/
/*    top: 30px;*/
/*    right: 20px;*/
/*    display: flex;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    justify-content:center;*/
/*    z-index: 90;*/
/*    cursor:pointer;*/
/*}*/

/*三本線の実装*/
/*.menu-btn span,*/
/*.menu-btn span:before,*/
/*.menu-btn span:after {*/
/*    content: "";*/
/*    display: block;*/
/*    height:3px;*/
/*    width: 30px;*/
/*    border-radius: 3px;*/
/*    background-color: black;*/
/*    position: absolute;*/
/*}*/
/*.menu-btn span:before{*/
/*    bottom: 10px;*/
/*}*/
/*.menu-btn span:after{*/
/*    top: 10px;*/
/*}*/

/*チェックボックスを非表示にする*/
/*#menu-btn-check{*/
/*    display:none;*/
/*}*/
/*メニューを開いている時は真ん中の線を透明にする*/
/*#menu-btn-check:checked ~ .menu-btn span{*/
/*    background-color: rgba(255,255,255,0)*/
/*}*/
/*メニューを開いているときはハンバーガーボタンがバツ（上下クロスする）になる*/
/*#menu-btn-check:checked ~ .menu-btn span::before{*/
/*    bottom: 0;*/
/*    transform:rotate(45deg);*/
/*}*/
/*#menu-btn-check:checked ~ .menu-btn span::after{*/
/*    top: 0;*/
/*    transform:rotate(-45deg);*/
/*}*/

/*ハンバーガーボタン内のメニューの実装*/
/*.menu-content {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: fixed;*/
/*    top: 50px;*/
    /*left: 100%; メニューを画面の外に出しておく*/
/*    z-index: 80;*/
/*    background-color: rgba(0,0,0,0.8);*/
    /*transition: all 0.5s; アニメーションをなめらかにする*/
/*}*/
/*.menu-content ul{*/
/*    padding: 70px 10px 0;*/
/*}*/
/*.menu-content ul li{*/
/*    border-bottom:solid 1px #ffffff;*/
/*    list-style:none;*/
/*}*/
/*.menu-content ul li a {*/
/*    display:block;*/
/*    width: 100%;*/
/*    font-size: 30px;*/
/*    box-sizing:border-box;*/
/*    color:white;*/
/*    text-decoration:none;*/
/*    padding:9px 15px 10px 0;*/
/*    position: relative;*/
/*}*/

/*メニューを画面内へ動かす*/
/*#menu-btn-check:checked ~ .menu-content{*/
/*    left: 0%;*/
/*}*/